{% extends 'base.html' %}

{% block title %}
<title>Add Asset</title>
{% endblock %}

{% block content %}
<main>
    <div class="card mb-4">
        <div class="card-header"> <b>Add New Asset</b></div>
        <div class="card-body">
            <form action="/add-asset" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="asset_site">Site</label>
                            <select name="asset_site" id="asset_site" class="form-control" required>
                                <option value="" disabled selected>Select Site</option>
                                <option value="Makati"> Makati </option>
                                <option value="Davao">Davao</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="asset_type">Asset Type</label>
                            <select name="asset_type" id="asset_type" class="form-control" required>
                                <option value="" disabled selected>Select Asset Type</option>
                                <option value="Monitor">Monitor</option>
                                <option value="Laptop">Laptop</option>
                                <option value="PC">Desktop</option>
                                <option value="Headset">Headset</option>
                            
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="asset_brand">Brand</label>
                            <input type="text" name="asset_brand" id="asset_brand" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="asset_tag">Asset Tag</label>
                            <input type="text" name="asset_tag" id="asset_tag" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="serial_number">Serial Number</label>
                            <input type="text" name="serial_number" id="serial_number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="asset_site">Location</label>
                            <select name="asset_site" id="asset_site" class="form-control" required>
                                <option value="" disabled selected>Select Location</option>
                                <option value="7th Floor">  7th  Floor </option>
                                <option value="19th Floor"> 19th Floor </option>
                                <option value="21st Floor"> 21st Floor </option>
                                <option value="32nd Floor"> 32nd Floor </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="campaign_vendor">Campaign</label>
                            <input type="text" name="campaign_vendor" id="campaign_vendor" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="station_no">Station Number</label>
                            <input type="text" name="station_no" id="station_no" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="last_upd">Last Update/Date Installed</label>
                            <input type="date" name="last_upd" id="last_upd" class="form-control">
                        </div>
                    
                    </div>

                    <!-- coloumn 2 -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="purchased_date">Purchased Date</label>
                            <input type="date" name="pur_date" id="purchased_date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="si_num">Sales Invoice Number</label>
                            <input type="number" name="si_num" id="si_num" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text" name="model" id="model" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="specs">Specifications</label>
                            <input type="text" name="specs" id="specs" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="ram_slot">RAM Slot</label>
                            <input type="text" name="ram_slot" id="ram_slot" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="capacity">RAM Capacity</label>
                            <input type="text" name="capacity" id="capacity" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="pc_name">PC Name</label>
                            <input type="text" name="pc_name" id="pc_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="win_ver">Windows Version</label>
                            <input type="number" name="win_ver" id="win_ver" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="com_by">Completed By</label>
                            <input type="text" name="com_by" id="com_by" class="form-control">
                        </div>
                        
                    </div>

                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mt-3 mx-3">Add New Asset</button>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
</main>