{% extends 'base.html' %}

{% block title %}
<title>Edit User</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Edit User</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/system-users">System Users</a></li>
            <li class="breadcrumb-item active">Edit User</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">Edit User</div>
            <div class="card-body">
                <form action="/edit-user/{{ user.email }}" method="POST">
                    <label for="email" class="col-form-label">Email</label>
                    <input type="text" name="email" id="email" value="{{ user.email }}" required>
                    <label for="name" class="col-form-label">Name</label>
                    <input type="text" name="name" id="name" value="{{ user.name }}" required>
                    <label for="password" class="col-form-label">Password</label>
                    <input type="text" name="password" id="password" value="{{ user.password }}" required>
                    <label for="role" class="col-form-label">Role</label>
                    <input type="text" name="role" id="role" value="{{ user.user_role }}" required>
                    <input type="submit" value="Update User" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
