{% extends 'base.html' %}

{% block title %}
<title>IT Asset Management System</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4"><i class="fas fa-home"></i> Dashboard</h1>
        <!-- wait! <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>-->
        <br>
        <div class="card mb-4">
            <div class="card-header">Dashboard</div>
            <div class="card-body"> 
                <div class="card mb-4">
                <div class="card-header"> 
                    <i class="fas fa-table mr-1"></i>
                    Latest IT Assets Movement
                <div class="card-body">
                    <div class="table-responsive">
                        {% if assets|length < 1 %}
                        <h4>There are no assets, you may add one in the Inventory</h4>
                        {% else %}
                        <table class="table table-bordered" id="dashboardTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Site</th>
                                    <th>Asset Type</th>
                                    <th>Brand</th>

                                    <th>Serial Number</th>
                                    <th>Location</th>
                                    <th>Campaign</th>
                                    <th>Station Number</th>


                                    <th>Model</th>





 



                                </tr>
                            </thead>
                            <tbody>
                                {% for asset in assets %}
                                <tr>
                                    <td>{{ asset.site }}</td>
                                    <td>{{ asset.asset_type }}</td>
                                    <td>{{ asset.brand }}</td>

                                    <td>{{ asset.serial_no }}</td>
                                    <td>{{ asset.location }}</td>
                                    <td>{{ asset.campaign }}</td>
                                    <td>{{ asset.station_no }}</td>


                                    <td>{{ asset.model }}</td>





 



                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
       
</main>
{% endblock %}