{% extends 'base.html' %}

{% block title %}
<title>IT Asset Management System</title>
{% endblock %}


{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <!-- wait! <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>-->
        </ol>
        <div class="card mb-4">
            <div class="card-header">Dashboard</div>
            <div class="card-body"> 
                <div class="card mb-4">
                <div class="card-header"> 
                    <i class="fas fa-table mr-1"></i>
                    Consolidated Assets Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% if products|length < 1 %}
                        <h4>There are no Products, add one above</h4>
                        {% else %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Site</th>
                                    <th>Asset Type</th>
                                    <th>Brand</th>
                                    <th>Asset Tag</th>
                                    <th>Serial Number</th>
                                    <th>Location/User</th>
                                    <th>Campaign/Vendor</th>
                                    <th>Station Number</th>


                                </tr>
                            </thead>
                           
                            </tfoot>
                            <tbody>
                                {% for product in products %}
                                
                                <!-- This is for the table-->
                                <tr>
                                <!-- Site-->        <td>Makati</td>
                                <!-- Asset Type-->  <td>Monitors</td>
                                <!-- Brand-->       <td>Acer</td>
                                <!-- Asset Tag-->   <td>Acer</td>
                                <!-- Serial No.-->  <td> V1232Fs</td>
                                <!--Location-->     <td> Storage Room</td>
                                <!--Campaign-->     <td> IT</td>
                                <!--Station Number--> <td>N/A</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                </div>
            </div>
                </div>
            </div>
        </div>

       
</main>
{% endblock %}