{% extends 'base.html' %}

{% block title %}
<title>IT Asset Management System</title>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alert alert-success" id="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="header1 mb-4 d-flex justify-content-between align-items-center">
            <h1 id="headerInv" class="mt-4"><i class="fas fa-dolly-flatbed"></i> Inventory</h1>       
        </div>
        
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Inventory</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center"><b>Manage IT Assets</b>
                <form action="/import-csv" method="POST" enctype="multipart/form-data" class="me-2">
                    <input type="file" name="csv_file" required>
                    <input type="submit" value="Import CSV File" class="btn btn-primary" aria-label="Import CSV File">
                </form>
                <a href="/add-asset/" id="addAsset" value="Add New Asset" class="btn btn-primary ms-auto" aria-label="Add New Asset">Add New Asset</a>
            </div>
            <div class="card-body">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-table mr-1"></i>
                            <b>IT Assets Table</b>
                        </div>
                        <div class="d-flex align-items-center"> <!-- Flex container for buttons -->
                            <a href="#" class="btn btn-success" aria-label="Export to Excel" onclick="exportSelectedColumns()">Export to Excel</a> <!-- Export Button -->
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <div class="mb-3">
                            <label>Select Columns to Display:</label>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="id" id="toggleID" checked>
                                <label class="form-check-label" for="toggleID">ID</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="site" id="toggleSite" checked>
                                <label class="form-check-label" for="toggleSite">Site</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="asset_type" id="toggleAssetType" checked>
                                <label class="form-check-label" for="toggleAssetType">Asset Type</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="brand" id="toggleBrand" checked>
                                <label class="form-check-label" for="toggleBrand">Brand</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="asset_tag" id="toggleAssetTag" checked>
                                <label class="form-check-label" for="toggleAssetTag">Asset Tag</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="serial_no" id="toggleSerialNo" checked>
                                <label class="form-check-label" for="toggleSerialNo">Serial Number</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="location" id="toggleLocation" checked>
                                <label class="form-check-label" for="toggleLocation">Location</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="campaign" id="toggleCampaign" checked>
                                <label class="form-check-label" for="toggleCampaign">Campaign</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="station_no" id="toggleStationNo" checked>
                                <label class="form-check-label" for="toggleStationNo">Station Number</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="pur_date" id="togglePurDate" checked>
                                <label class="form-check-label" for="togglePurDate">Purchase Date</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="si_num" id="toggleSiNum" checked>
                                <label class="form-check-label" for="toggleSiNum">Sales Invoice Number</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="model" id="toggleModel" checked>
                                <label class="form-check-label" for="toggleModel">Model</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="specs" id="toggleSpecs" checked>
                                <label class="form-check-label" for="toggleSpecs">Specifications</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="ram_slot" id="toggleRamSlot" checked>
                                <label class="form-check-label" for="toggleRamSlot">RAM Slot</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="ram_type" id="toggleRamType" checked>
                                <label class="form-check-label" for="toggleRamType">RAM Type</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="ram_capacity" id="toggleRamCapacity" checked>
                                <label class="form-check-label" for="toggleRamCapacity">RAM Capacity</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="pc_name" id="togglePcName" checked>
                                <label class="form-check-label" for="togglePcName">PC Name</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="win_ver" id="toggleWinVer" checked>
                                <label class="form-check-label" for="toggleWinVer">Windows Version</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="last_upd" id="toggleLastUpd" checked>
                                <label class="form-check-label" for="toggleLastUpd">Last Update/Date Installed</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input column-toggle" type="checkbox" value="completed_by" id="toggleCompletedBy" checked>
                                <label class="form-check-label" for="toggleCompletedBy">Completed By</label>
                            </div>
                            <!-- Continue adding checkboxes for all other columns -->
                            <!-- ... -->
                        </div>

                        <div class="table-responsive">
                            {% if assets|length < 1 %}
                            <h4>There are no assets, add one above</h4>
                            {% else %}
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Actions</th>
                                        <th>ID</th>
                                        <th>Site</th>
                                        <th>Asset Type</th>
                                        <th>Brand</th>
                                        <th>Asset Tag</th>
                                        <th>Serial Number</th>
                                        <th>Location</th>
                                        <th>Campaign</th>
                                        <th>Station Number</th>
                                        <th>Purchase Date</th>
                                        <th>Sales Invoice Number</th>
                                        <th>Model</th>
                                        <th>Specifications</th>
                                        <th>RAM Slot</th>
                                        <th>RAM Type</th>
                                        <th>RAM Capacity</th>
                                        <th>PC Name</th>
                                        <th>Windows Version</th>
                                        <th>Last Update/Date Installed</th>
                                        <th>Completed By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asset in assets %}
                                    <tr>
                                        <td>
                                            <a href="{{ url_for('edit_asset', asset_id=asset.id) }}" class="btn btn-warning">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="{{ url_for('delete_asset', asset_id=asset.id) }}" class="btn btn-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                            
                                        </td> 
                                        <td>{{ asset.id }}</td>
                                        <td>{{ asset.site }}</td>
                                        <td>{{ asset.asset_type }}</td>
                                        <td>{{ asset.brand }}</td>
                                        <td>{{ asset.asset_tag }}</td>
                                        <td>{{ asset.serial_no }}</td>
                                        <td>{{ asset.location }}</td>
                                        <td>{{ asset.campaign }}</td>
                                        <td>{{ asset.station_no }}</td>
                                        <td>{{ asset.pur_date }}</td>
                                        <td>{{ asset.si_num }}</td>
                                        <td>{{ asset.model }}</td>
                                        <td>{{ asset.specs }}</td>
                                        <td>{{ asset.ram_slot }}</td>
                                        <td>{{ asset.ram_type }}</td>
                                        <td>{{ asset.ram_capacity }}</td>
                                        <td>{{ asset.pc_name }}</td>
                                        <td>{{ asset.win_ver }}</td>
                                        <td>{{ asset.last_upd }}</td>
                                        <td>{{ asset.completed_by }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Set a timer to remove flash messages after 5 seconds
        setTimeout(function() {
            var flashMessages = document.getElementById('flash-messages');
            if (flashMessages) {
                flashMessages.style.display = 'none'; // Hide the flash messages
            }
        }, 5000); // 5000 milliseconds = 5 seconds

        // Handle column visibility
        document.querySelectorAll('.column-toggle').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var column = this.value;
                var isChecked = this.checked;
                var table = document.getElementById('dataTable');
                var rows = table.querySelectorAll('tr');

                rows.forEach(function(row) {
                    row.cells[column].style.display = isChecked ? '' : 'none';
                });
            });
        });
    });
    function exportSelectedColumns() {
            const selectedColumns = Array.from(document.querySelectorAll('.column-toggle:checked'))
                .map(checkbox => checkbox.value);

            fetch('/export-excel', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ selectedColumns })
            })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'ITAssetsInventory.xlsx';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => console.error('Error exporting to Excel:', error));
        }
</script>
{% endblock %}
