{% extends 'base.html' %}

{% block title %}
    <title>IT Asset Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='postyles.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4"><i class="sb-nav-link-icon"></i>  Purchase Order Request Form </h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Request Form</li>
        </ol>
    </div>

    <div class="form-container">
        <form id="automatedForm">
            <h4 class="mb-4">IT ASSET PO REQUEST FORM</h4>

            <div class="form-group">
                <label for="name">Ticket #:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>

            <h6 class="mt-4"><b>I. REQUESTING PARTY INFORMATION</b></h6>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="requestor">Requestor:</label>
                    <input type="text" id="requestor" name="requestor" class="form-control" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="program_dept">Program/Department:</label>
                    <input type="text" id="program_dept" name="program_dept" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label for="client_passthrough">Client Passthrough cost?</label>
                <select name="client_passthrough" id="client_passthrough" class="form-control" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    <option value="n/a">N/A</option>
                </select>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="date_requested">Date Requested:</label>
                    <input type="date" id="date_requested" name="date_requested" class="form-control" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="date_required">Date Required:</label>
                    <input type="date" id="date_required" name="date_required" class="form-control" required>
                </div>
            </div>

            <h6 class="mt-4"><b>II. IT ASSET INFORMATION</b></h6>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="expenditure">Expenditure Category:</label>
                    <select name="expenditure" id="expenditure" class="form-control" required>
                        <option value="" disabled selected>Select an option</option>
                        <option value="capital_asset">Capital Asset</option>
                        <option value="consumable">Consumable</option>
                        <option value="subscription">Subscription</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="asset_type">IT Asset Type:</label>
                    <select name="asset_type" id="asset_type" class="form-control" required>
                        <option value="" disabled selected>Select an option</option>
                        <option value="software">Software</option>
                        <option value="hardware">Hardware</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="vendor">Vendor:</label>
                    <input type="text" id="vendor" name="vendor" class="form-control" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="manager">Account Manager:</label>
                    <input type="text" id="manager" name="manager" class="form-control" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email_mobile">Email/Mobile:</label>
                    <input type="text" id="email_mobile" name="email_mobile" class="form-control" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="asset_desc">IT Asset Description:</label>
                    <input type="text" id="asset_desc" name="asset_desc" class="form-control" required>
                </div>
            </div>

            <h6 class="mt-4"><b>III. IT ASSET ALLOCATION</b></h6>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="location">Location:</label>
                    <select name="location" id="location" class="form-control" required>
                        <option value="" disabled selected>Select an option</option>
                        <option value="5th">Jaka (5th)</option>
                        <option value="5th ext">Jaka (5th Ext)</option>
                        <option value="7th">RSC (7th)</option>
                        <option value="19th">RSC (19th)</option>
                        <option value="21st">RSC (21st)</option>
                        
                    </select>
                </div>


                <div class="form-group col-md-6">
                    <label for="location">Location (RSC):</label>
                    <select name="location" id="location" class="form-control" required>
                        <option value="" disabled selected>Select an option</option>
                        <option value="davao">Davao</option>
                        <option value="summit">Summit</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="business_unit">Business Unit Allocation:</label>
                    <input type="text" id="business_unit" name="business_unit" class="form-control" required>
                </div>
            </div>

            <h6 class="mt-4"><b>IV. NOTES & ATTACHMENTS</b></h6>

            <div class="form-group">
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes" class="form-control" rows="3"></textarea>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="prepared_by">Prepared by:</label>
                    <input type="text" id="prepared_by" name="prepared_by" class="form-control" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="department">Department:</label>
                    <input type="text" id="department" name="department" class="form-control" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="prepared_date">Date:</label>
                    <input type="date" id="prepared_date" name="prepared_date" class="form-control" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary"><b>Submit</b></button>
        </form>
    </div>
</div>

</main>
{% endblock %}
